/* Nuestro Servicio */



.subtitulo{
    text-align: center;
    font-weight: 50px;
    color: green ;
    margin-bottom: 40px;
    font-size: 40px;
    
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: green;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #8cd18c 0%, #357c0b46 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    
    .img-galeria{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
   
.footer-content{
    justify-content: center;
}

    .social-media{
        width:80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

        .contact-us{
            text-align: center;
            width: 80%;
            margin-bottom: 40px;
        }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

.hamburger{
    top: 20px;
    right: 20px;
}

.titulo{
    font: size 30px; ;
}

.subtitulo{
    font-size: 30px;
}


.img-galeria{
    width: 95%;
}

.social-media{
    width: 100%;
}

.contact-us{
    width: 90%s;
}

}

.email{
    text-decoration: none;
    color: #fff;
}